<footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <!-- Logo Section (Back to Top) -->
        <div class="col-md-3 text-center">
          <a href="#home">
            <img src="assets/logobgwhite.jpeg" alt="Logo" class="logo-footer" />
          </a>
          <p class="mt-2">&copy; 2025 MUGGA. All rights reserved.</p>
        </div>
  
        <!-- Resources Section -->
        <div class="col-md-3">
          <h5>Lien utiles</h5>
          <ul class="list-unstyled">
            <li><a href="https://learn.microsoft.com/fr-fr" class="text-light">Micrsoft Learn</a></li>
            <li><a href="#about" class="text-light">About</a></li>
            <li><a href="#services" class="text-light">Services</a></li>
            <li><a href="#contact" class="text-light">Contact</a></li>
          </ul>
        </div>
  
        <!-- Social Media Section -->
        <div class="col-md-3">
          <h5>Follow Us</h5>
          <ul class="list-unstyled d-flex">
            <li>
              <a href="https://facebook.com" target="_blank" class="text-light me-3">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com" target="_blank" class="text-light me-3">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://linkedin.com" target="_blank" class="text-light me-3">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com" target="_blank" class="text-light">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
  
        <!-- Contact Information Section -->
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-phone-alt"></i> +241 765 83919</li>
            <li><i class="fas fa-envelope"></i> contactmyapp.com</li>
            <li><i class="fas fa-map-marker-alt"></i> En ligne, Libreville, Gabon</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  