/* Footer styling */
footer {
    background-color: #343a40;
    color: #fff;
    width: 100%;
  }
  
  footer .logo-footer {
    height: 60px;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer h5 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  
  footer ul {
    padding-left: 0;
  }
  
  footer ul li {
    margin-bottom: 0.5rem;
  }
  
  footer .fab, footer .fas {
    font-size: 1.5rem;
  }
  
  /* Social Media Links Styling */
  footer .d-flex {
    list-style-type: none;
    padding-left: 0;
  }
  
  /* footer .me-3 {
    margin-right: 1rem;
  } */
  