
  .logo {
    height: 40px; 
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .navbar-nav .nav-link:hover {
    color: #fff;
  }
  

  body {
    padding-top: 70px; 
  }
  
 
  html {
    scroll-behavior: smooth;
  }
  